p {
	font-size: 16px;
	/* background-color: blueviolet; */
}
.box-content .box {
	border-radius: 10px;
	overflow: hidden;
	color: #fff;
	background: #25db83;
	transition: background 0.3s ease-in-out;
}
.box-content .box:hover {
	background: #06a85a;
}
